<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
	<test name="Nopackage">
		<classes>
			<class name="Test.login_test"></class>
		</classes>
		
	</test>
	    <listeners>
			<listener class-name="org.uncommons.reportng.HTMLReporter" />
			<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	        <listener class-name="page.JavaMailTestListener"/> 

		</listeners>
</suite>